Repository Goldziher/ai-rulez: changes, and which lefthook commands are due for each by the changed paths.
All: python-lint, python-format, js-lint

python-lint:
  run: cd test && uv run ruff check --fix {staged_files}
  fail_text: Python linting failed

python-format:
  run: cd test && uv run ruff format {staged_files}
  fail_text: Python formatting failed

js-lint:
  run: cd test/integration && pnpm biome check --write {staged_files}
  fail_text: JavaScript/TypeScript linting failed

fix: finalize lefthook configuration for linting
  lefthook.yml
Due: none

fix: configure proper version matrix and document LTS requirements
  .github/actions/run-js-tests/action.yml
  .github/actions/run-python-tests/action.yml
  .github/workflows/installation-tests.yml
  README.md
  test/integration/package.json
Due: js-lint

fix: resolve cross-platform path issues and Node.js version requirements
  build/npm/install.js
  test/integration/python_installation_test.py
Due: python-lint, python-format

fix: add cross-platform support to JavaScript installation tests
  test/integration/npm-installation.test.ts
Due: js-lint

fix: use proper working directory in JavaScript tests instead of cd commands
  test/integration/npm-installation.test.ts
Due: js-lint

fix: repair Node.js version validation test
  test/integration/npm-installation.test.ts
Due: js-lint

fix: resolve Windows-specific JavaScript test failures
  test/integration/npm-installation.test.ts
Due: js-lint

fix: remove problematic golangci-lint configuration
  .golangci.yml
  lefthook.yml
Due: none

chore: bump version to 1.1.0
  README.md
  ai_rulez.yaml
  package.json
Due: none

fix: add missing bin field to package.json and bump to v1.1.1
  build/python/__init__.py
  build/python/ai_rulez/__init__.py
  package.json
Due: none

feat: add Homebrew tap support via GoReleaser
  .github/workflows/release.yml
  .goreleaser.yaml
  build/python/__init__.py
  build/python/ai_rulez/__init__.py
  package.json
Due: none

Path conditions:
  python-lint: any of: test/**/*.py
  python-format: any of: test/**/*.py
  js-lint: any of: test/**/*.{js,ts,json}
